*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */
/*
.item-1{
background-color: blue;    
/* grid-row-start: 3;
grid-column-start: -2; */
/* grid-area: 1/1/2/4; */
/* }
.item-2{
background-color: rgb(119, 255, 0);    
grid-row: 2/3;
grid-column: 1/ span 2; */

/* }
.item-3{
background-color: rgb(180, 180, 197);    
}
.item-4{ */
/* background-color: rgb(179, 41, 186);     */
/* grid-column: 2/3;
grid-row: 3; */
/* }
.item-5{
background-color: rgb(15, 159, 159);    */
/* grid-area: 2/2/2/3;  */
/* }
.item-6{
background-color: rgb(148, 132, 47);    
}
.item-7{
background-color: rgb(90, 172, 81);    
} */
/* .item-8{
background-color: rgb(235, 109, 42);  

}
.item-9{
background-color: rgb(175, 35, 114);  */
/* grid-row-start: 1;
grid-column-start: 3;    */
/* grid-row: 1;
grid-column: 3; */
/* }

.container{
    width:1000px;
    border: 1px solid black;
    display: grid; */
    /* grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px  ; */
/* grid-row-gap: 50px;
grid-column-gap: 50px; */
/* grid-gap:20px; */
/* gap:20px; */
/* grid-template-columns: repeat(3,300px); */
/* grid-template-rows: repeat(3,200px); */
/* grid-template-rows: repeat(2,200px) 100px; */
/* grid-template-rows: 100px repeat(1,200px) 100px; */
/* grid-template-columns:repeat(3,1fr) ;
grid-template-rows:repeat(3,150px); 
gap: 10px;

} */


/* 
 creating a layout  */

 .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);;
 }

.item-1{
    background-color:rgb(170, 173, 25);
    grid-area: 1/1/2/4;
 
}

.item-5{
    background-color:red;
    grid-area: 2/1/4/1;
}

.item-6{
    background-color:pink;
    grid-area: 3/2/4/-1;
}

.item-7{
    background-color:purple;
  grid-row: 4/5;
  grid-column: 1/-1;
}





